<h3> Leaderboard </h3>
<br>
<Table style="width: 75%;">
    <thead>
        <tr>
            <th style="width: 35%;"></th>
            <th style="width: 10%;text-align: right;">No</th>
            <th style="width: 13%;text-align: right;">Team</th>
            <th style="width: 13%;text-align: right;">Name</th>
            <th style="width: 18%;text-align: right;">Point</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th style="width: 35%;"></th>
            <th style="width: 10%;text-align: right;">1</th>
            <th style="width: 13%;text-align: right;">RRQ</th>
            <th style="width: 13%;text-align: right;">Albert,Clay,Liam</th>
            <th style="width: 18%;text-align: right;">200 poin</th>
        </tr>
    </tbody>
</Table>
