<h3> Tournament </h3>
<br>
<Table style="width: 75%;">
    <thead>
        <tr>
            <th style="width: 35%;"></th>
            <th style="width: 10%;text-align: right;">No</th>
            <th style="width: 13%;text-align: right;">Team</th>
            <th style="width: 13%;text-align: right;">Name</th>
            <th style="width: 18%;text-align: right;">Date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th style="width: 35%;"></th>
            <th style="width: 10%;text-align: right;">1</th>
            <th style="width: 13%;text-align: right;">Evos</th>
            <th style="width: 13%;text-align: right;">Uno, Unam Uni</th>
            <th style="width: 18%;text-align: right;">12/12/2040</th>
        </tr>
    </tbody>
</Table>
