<h3> Profile </h3>
<br>
<Table style="width: 75%;">
    <thead>
        <tr>
            <th style="width: 35%;"></th>
            <th style="width: 10%;text-align: right;">Username</th>
            <th style="width: 13%;text-align: right;">Nama</th>
            <th style="width: 13%;text-align: right;">Jenis Kelamin</th>
            <th style="width: 18%;text-align: right;">Kota</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th style="width: 35%;"></th>
            <th style="width: 10%;text-align: right;">@mayraa</th>
            <th style="width: 13%;text-align: right;">Mayraa</th>
            <th style="width: 13%;text-align: right;">Perempuan</th>
            <th style="width: 18%;text-align: right;">Pontianak</th>
        </tr>
    </tbody>
</Table>
